@import "tailwindcss";

@theme {
    --color-primary-col: #6E1A37;
    --animate-turn: rotate 3s ease-in-out 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*.do-animate {
    animation: rotate 3s ease-in-out 2s infinite;
}*/